@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-image: url('./assets/bg2.jpg');
  background-size: cover;
  background-position: bottom;
  object-fit: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* transition: 0.4 ease; */
}

.app.warm {
  background-image: url('./assets/bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  display: flex;
  justify-content: center;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  margin-top: 10px;



  color: #fff;
  font-size: 20px;

  transition: 0.4s ease;
}

 

.search-box button{
  width: 50px;
  background: transparent;
  border: none;
  position: relative;
  left: 8px;
  top: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 3px;
}

 

/* .search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
} */

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

::placeholder{
  color: #FFF;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 80px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60vw;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-size: 20px;
  font-weight: 700;
}

.bottom p {
  font-size: 20px;
  font-weight: 700;
}


.initial {
  text-align: center;
  color: #FFF;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initial h2 {
  font-size: 68px;
  font-weight: 700;
  word-spacing: 1.5rem;
}

.initial p {
  font-size: 25px;
  font-weight: 500;
  margin-top: 1rem;
}

.icons {
  
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.icons{
  animation: move 10s linear 2s infinite;
  display: absolute;
}

@keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(30vw);}
}

 

@media only screen and (max-width: 480px) { 

  @keyframes move {
    from {-webkit-transform: translateX(-100px);}
    to {-webkit-transform: translateX(30vw);}
  }

  .initial h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  .icons p {
    font-size: 25px;
    font-weight: 500;
    margin-top: -18px;
  }

  .icons {  
    flex-direction: column;
    margin-top: 2rem;
  }

  .app .bottom{
    width: 100%;
    flex-direction: column;
    margin-top: 4rem;
  }

  .feels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .humidity{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .wind{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}